﻿<template>
    <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" />
</template>

<script setup lang="ts">


onMounted(async () => {
    const axiosResponse = await useAxios('/health');
    console.log(axiosResponse.data);
})
</script>

<style scoped>

</style>
